
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

/* body {
  font-family: "Merriweather Sans", sans-serif;;
} */

@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0px);
  }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}

@layer base {
  :root {
    --background: 60 6% 98%;
    --foreground: 0 0% 10%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 10%;
    --primary: 180 54% 38%;
    --primary-foreground: 0 0% 100%;
    --secondary: 3 100% 69%;
    --secondary-foreground: 0 0% 100%;

    --muted: 0 0% 94%;
    --muted-foreground: 0 0% 25%; 

    --accent: 134 29% 65%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 100% 65%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 94%;
    --input: 0 0% 94%;
    --ring: 180 54% 38%;

    --chart-1: 180 54% 38%;
    --chart-2: 3 100% 69%;
    --chart-3: 134 29% 65%;
    --chart-4: 180 54% 31%;
    --chart-5: 4 76% 61%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 7%;
    --foreground: 0 0% 88%;
    --card: 0 0% 10%;
    --card-foreground: 0 0% 88%;
    --popover: 0 0% 10%;
    --popover-foreground: 0 0% 88%;
    --primary: 180 54% 38%;
    --primary-foreground: 0 0% 100%;
    --secondary: 3 100% 69%;
    --secondary-foreground: 0 0% 100%;
    --muted: 0 0% 10%;
    --muted-foreground: 0 0% 40%;
    --accent: 134 29% 65%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 100% 65%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 10%;
    --input: 0 0% 10%;
    --ring: 180 54% 38%;

    --chart-1: 180 54% 38%;
    --chart-2: 3 100% 69%;
    --chart-3: 134 29% 65%;
    --chart-4: 180 54% 31%;
    --chart-5: 4 76% 61%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}


.merri {
  font-family: "Merriweather Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.poppinsmd {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}